.bg{
   background: url(../../../assets/background-Professor.jpeg);
   width: 100%;
   height: 945px;
   object-fit: cover;
   object-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: -ms-page;
   /* overflow-y: hidden; */
}

.card{
    /* position: fixed; */
    
    /* padding: 10%; */
    /* position: absolute; */
    width: 180%;
    /* height: 500px; */
    left: 37%;
    /* top: 50px; */

    background: #FFFFFF;
    border-radius: 13px;
}

a:hover {
    color: #FFFFFF;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: large; */
    color: #ffffff;
    /* margin-left: 50px; */
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: rgba(71, 71, 71, 0.075);

}

.links{
    margin-left: 3%;
    width: 100%;
    margin-bottom: 30px;
}

table{
    margin-top: 30px;
}

#adicionar {
    background-color: #133702;
    border-radius: 0%;
    color: #FFFFFF;
}

#adicionar:focus{
    -webkit-box-shadow: none;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #133702;
    border-radius: 0%;
}
input:focus{
    -webkit-box-shadow: none;
    border-color: rgb(149, 10, 161);
}


button{
    background-color: transparent;
}

#edit{
    -webkit-box-shadow: none;
}

#trash{
    -webkit-box-shadow: none;
}


/* modal */
/* button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  } */
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #00000094;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }