section{
  position: absolute;
  width: 100%;
  height: 356px;
  left: 0px;
  top: 45.25%;

  background: #005819;
}

.info{
  position: absolute;
  width: 100%;
  height: 54px;
  left: 0px;
  top: 82%;

  background: rgba(255, 255, 255, 0.94);

  align-items: center;
  /* text-align: center; */
  color: #133702;
  /* font-size: 15px; */
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.col1{
  margin-top: 15px;

  position: absolute;
  width: 256px;
  height: 0px;
  left: 14.25%;
  top: 44.25%;

  border: 1px solid #E5E5E5;
  transform: rotate(90deg);
}


.col2{
  margin-top: 15px;

  position: absolute;
  width: 177px;
  height: 259px;
  left: 22.50%;
  top: 2.5%;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;

  color: #D6D6FF;
}

.col3{
  margin-top: 15px;

  position: absolute;
  width: 180px;
  height: 0px;
  left: 35.25%;
  top: 33.25%;

  border: 1px solid #E5E5E5;
  transform: rotate(90deg);
}

.col4{
  margin-top: 15px;

  position: absolute;
  width: 230px;
  height: 259px;
  left: 41.50%;
  top: 2.5%;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;

  color: #D6D6FF;
}

.col5{
  margin-top: 15px;

  position: absolute;
  width: 80px;
  height: 0px;
  left: 59.25%;
  top: 20.25%;

  border: 1px solid #E5E5E5;
  transform: rotate(90deg);
}

.col6{
  margin-top: 15px;

  position: absolute;
  width: 230px;
  height: 259px;
  left: 62.50%;
  top: 2.5%;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;

  color: #D6D6FF;
}

.col7{
  margin-top: 15px;

  position: absolute;
  width: 112px;
  height: 0px;
  left: 58.40%;
  top: 64.25%;

  border: 1px solid #E5E5E5;
  transform: rotate(90deg);
}

.col8{
  margin-top: 15px;
  
  position: absolute;
  width: 230px;
  height: 259px;
  left: 62.50%;
  top: 42.5%;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;

  color: #D6D6FF;
}