
<div class="wrapper">
  <section id="section1"> 
    <!-- <a href="#section3">‹</a> -->
      <div class="item">
        <img src="../../../assets/ifam.jpg" alt="Describe Image" style="width: 630px;
        height: 259px;">
      </div>
      <div class="item">
        <img src="../../../assets/ifam2.jpg" alt="Describe Image" style="width: 639px;
        height: 259px;">
      </div>
      <div class="item">
        <img src="../../../assets/ifam3.jpeg" alt="Describe Image" style="width: 689px;
        height: 259px;">
      </div>
    <!-- <a href="#section3">›</a> -->
  </section>
</div>

<app-toolbar></app-toolbar>
<app-footer-home></app-footer-home>