<app-toolbar></app-toolbar>
<div>
   <!--<img style="background-repeat: no-repeat; width: 100%; height: 100%;background-size: cover; object-fit: cover;"
  src="../../../assets/backgroud-Turma.jpeg">-->
  <h2>Listagem de Turmas</h2>
  <div class="card">
    <div class="panel-body" >
      <table id="example" class="table" cellspacing="0" width="100%">

        <thead class="table-light" >
          <tr style="font-family: 'Roboto', 'normal'; color: #133702;">
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data Início</th>
            <th scope="col">Data Fim</th>
            <th scope="col">Ações</th>
          </tr>
          <tbody>
              <tr style="font-family: 'Roboto', 'normal'; color: #133702;">
              <td>1</td>
              <td>Fundamentos de Docker</td>
              <td>27/08/2021</td>
              <td>15/09/2021</td>
              <td><i class="bi bi-eye btn" style="color: #47B091"></i></td>
              <td><i class="bi bi-pencil" style="color: #00692C"></i></td>
              <td><i class="bi bi-trash btn" style="color: #9C1010"></i></td>
            </tr>
          </tbody>

      </table>
    </div>
  </div>
</div>


<app-footer></app-footer>
