.bg{
  background: url(../../../assets/backgroud-Turma.jpeg);
  width: 100%;
  height: 930px;
  object-fit: cover;
  object-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: -ms-page;
}

div#dashmain{

  /* background: #F8F8FF; */
  height: 100%;
  width: 100%;
  position: fixed;

}

.card{
  position: relative;
  width: 1400px;
  height: relative;
  left: 225px;
  top: 177px;
  padding: 15px;

  background: #FFFFFF;
  border-radius: 13px;
}

h4{
  position: absolute;
  width: 218px;
  height: 26px;
  left: 250px;
  top: 119px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  text-align: center;

  color: #133702;
}

.panel-body{
  margin-top: 30px;
  margin-left: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #133702;
}

input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #133702;
  border-radius: 0%;
}
input:focus{
  -webkit-box-shadow: none;
  border-color: rgb(149, 10, 161);
}

button{
  background-color: transparent;
}

#edit{
  -webkit-box-shadow: none;
}

#trash{
  -webkit-box-shadow: none;
}

#look{
  -webkit-box-shadow: none;
}
