<app-toolbar></app-toolbar>




<div class="bg">
  <div class="links">
    <h4 id="list" routerLink="/turmas" routerLinkActive="router-link-active">Listagem de Turmas</h4>
    <i id="iconArrow" class="bi bi-arrow-right"></i>
    <h4 id="view">Visualizar Turma</h4>
  </div>
  <div class="card">
    <div class="info">
      <h5>Nome do Curso</h5>
      <h6>Período: Data inicio - a - Data fim</h6>
      <h6>Professor: Nome do Professor</h6>
    </div>

    <div class="panel-body" >
      <table id="title" class="table" cellspacing="0" width="100%">
        <thead class="table-light" >
          <tr style="font-family: 'Roboto', 'normal'; color: #133702;">
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Matrícula</th>
            <th scope="col">Alunos</th>
            <th scope="col"></th>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;Ações</th>
          </tr>
          <tbody>
              <tr scope="row" style="font-family: 'Roboto', 'normal'; color: #133702;">
              <td></td>
              <td></td>
              <td>id</td>
              <td></td>
              <td></td>
              <td>123445</td>
              <td>Rapha</td>
              <td></td>
              <td>
                <button id="trash" class="btn"><i class="bi bi-trash" style="color: #9C1010; font-size: larger;"></i></button>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>


<app-footer></app-footer>
