.nav{
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #0B2300;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.49);

    justify-content: space-around;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}



.nav.logoifam{
    text-align: left;
}

.nav-list{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    display: flex;
    margin-right: 0;
    font-size: medium;
}

/* .nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
} */

.nav-list button{
    letter-spacing: 3px;
    margin-left: 2px;
}



.imagem{
    padding-top: 0.5%;
}


.icon{
    padding: 3.5%;
    align-items: center;
    margin-left: 40px;
}

.icon i{
    position: absolute;
    font-size: larger;
}



button{
    background: transparent;
    border: none;
    /* margin: 30px auto 0; */
    display: flex;
    font-size: 20px;
    outline: none;

    position: relative;
    transition: 0.3s;

    bottom: 0;
    align-items: center;
    margin-right: 15px;

    font-size: medium;

    color: aliceblue;
    /* padding-top: 1.5%; */
    /* padding: 10px ; */
   
}

button::before{
    
    content: '';
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a00000;
    /* padding: 0 10px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.3s;
}

button:focus{
    -webkit-box-shadow: none;
}

button:hover:before{
    border-color: none;
    width: 100%;
    padding: 0;
}
button:active{
    background: transparent;
    /* color: #a00000; */
    transition: none;
}

button:visited:before{
    width: 100%;
    padding: 0;
}



/* MODAL */
.template {
    /* position: absolute; */
    width: 402px;
    height: 661px;
    border-radius: 20px;

    background: linear-gradient(90deg, rgba(82, 255, 154, 0.67) 0%, rgba(255, 13, 13, 0.67) 100%);
    background-blend-mode: multiply;
    /* border-radius: 20px; */
}

.modal-content{
    background-color: transparent;
    width: 403px;
    height: 661px;
}

/* .modal-dialog{
    max-width: 400px;
} */

@media (min-width: 506px)
{
.modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
}
}


/* Detalhes modal */
#login{
    margin-left: 40%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* width: 68px;
    height: 26px; */
    margin-top: 45px;
    font-weight: bolder;
    
    /* font-style: normal; */
    /* font-weight: 500; */
    font-size: 28px;
    line-height: 26px;
    /* identical to box height */

    text-align: center;

    color: #005819;

}