<section>
    <div class="col1">
    </div>
    <div class="col2">
        <h3>Instituição</h3>

        Instituição<br>
        História da Instituição<br>
        Comitês<br>
        Comissões<br>
        Reitoria<br>
        Colegiados<br>
        Reitoria<br>
        Imprensa<br>
        Procuradoria<br>
    </div>

    <div class="col3">
    </div>
    <div class="col4">
        <h3>Pró-Reitorias</h3>

        Ensino<br>
        Pesquisa, Pós-Graduação e Inovação<br>
        Extensão<br>
        Desenvolvimento Institucional<br>
        Administração e Planejamento<br>

    </div>

    <div class="col5">
    </div>
    <div class="col6">
        <h3>Redes Sociais</h3>

        Facebook<br>
        Youtube<br>
        
    </div>

    <div class="col7">
    </div>
    <div class="col8">
        <h3>Serviços</h3>

        Perguntas frequentes<br>
        Acesso a sistemas<br>
        Área de imprensa<br>
        
    </div>

</section>