<!-- <p>footer works!</p> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<footer>
    <div class="imagens">
        <img id="info" style="width: 137px; height: 54px; margin-bottom: 8px" src="../assets/footerInfo.png" alt="">
        <img id="patria" style="width: 152px; height: 56px; margin-left: 15%; margin-bottom: 8px;" src="../assets/footerPatria.png" alt="">
        <img id="engsoft" style="width: 80px; height: 80px; margin-left: 20%;" src="../assets/footerLogoEngenharia.png" alt="">
    </div>
</footer>