.bg{
  background: url(../../../assets/background-Aluno.jpeg);
  width: 100%;
  height: 930px;
  object-fit: cover;
  object-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: -ms-page;
}

.links{
  margin-left: 0%;
  width: 100%;
  margin-bottom: 30px;
}

.card{
  position: relative;
  width: 600px;
  height: 550px;
  left: 350px;
  top: 177px;
  padding: 15px;

  background: #FFFFFF;
  box-shadow: 0px 20px 70px rgba(124, 8, 8, 0.2);
  border-radius: 8px;
}

h4#list{
  position: absolute;
  width: 218px;
  height: 26px;
  left: 250px;
  top: 119px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  text-align: center;
  color: #47B091;
  cursor: pointer;
}

h4#list:hover{
  color: #bbecde;
  text-decoration: none;
}

h4#create{
  position: absolute;
  width: 218px;
  height: 26px;
  left: 490px;
  top: 119px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  text-align: center;

  color: #FFFFFF;
}

#iconArrow{
  position: absolute;
  left: 470px;
  top: 120px;

  color: #FFFFFF;
}
